.container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}

.button{
    position:absolute;
}

.buttonleft{
    top:50%;
    left:10%;
}

.buttonright{
    top: 50%;
    right:10%;
}

.slideContainer {
    width: 500vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin-left:0;
    animation: slideAnimation 8s ease-in-out;
}

.slide {
    width: 100vw;
    height: 100vh;
}

.ss1 { 
    background-color: orange; 
    /* flex:1; */
    }
.ss2 { 
    background-color: orchid;
    /* flex:2; */}
.ss3 { 
    background-color: mediumturquoise;
    /* flex:3; */
    }
.ss4 { 
    background-color: mediumpurple;
    /* flex:3; */
}
.ss5 { 
    background-color: rgb(13, 58, 8);
    /* flex:3; */
     }

/* @keyframes slideAnimation {
    0% { transform: translateX(0); 
        }
    20% { transform: translateX(-100vw);
       }
    40% { transform: translateX(-200vw);
        }
    60% { transform: translateX(-300vw); 
    }
    80% { transform: translateX(-400vw); 
    }
    100% { transform: translateX(0); 
    }
   
} */


